  <div class="parent">

      <div class="header mt-4">
        <button routerLink="" class="btn btn-primary">back</button>
              <h2>Rooms Name:{{roomname[1]}}</h2>
                </div>

                <div class="chatCont container">
        <!-- <h3>You:{{name}}</h3> -->

          <div *ngFor="let msgObj of messages" class="messages">
              <div>
                  <!-- <h4>{{msgObj.name}}</h4> -->
                  <p>{{msgObj.name}}:{{msgObj.mes}}</p>
              </div>
          </div>



        </div>
        <div class="chatter container ">
            <textarea id="textarea" cols="30" rows="1" placeholder="Write a message..."></textarea>
            <button class="btn btn-primary send" (click)="send()">Send</button>
        </div>

  </div>
