<div class="parent">

    <div class="heading">
          <h1>wazzaup</h1>
    </div>


    <section class="Participants container">
      <h2 style="color:blue ;">You:{{username}}</h2>
      <h2>Participants</h2>

    <div  *ngFor="let button of buttons" class="participants display-flex flex-dirention-column">

        <button routerLink="chat" class="btn btn-primary" value={{button[0]}} (click)="openChat($event, 'messageOne')">{{button[1]}}</button>
          </div>

    </section>


    <section class="Groups container">

          <div class="groupCreate">

            <h2>Groups</h2>

            <input name="" id="roomName">
            <button class="btn btn-light" (click)="createRoom()">Create room</button>
          </div>



      <div *ngFor="let list of roomList">
      <button routerLink="chat" class="btn btn-success" value={{list[0]}} (click)="openChat($event,'messageGroup')">{{list[1]}}</button>
    </div>

      <div class="">

        <button class="btn btn-primary" routerLink="chat" (click)="openChat($event,'message')">sendALL</button>
      </div>
    </section>



</div>
