.parent {
    position: relative;
    margin: 0%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(169, 169, 169, 0.536);
}

.wazzupImg {
    display: flex;
    justify-content: center;
}

.wazzupImg img {
    width: 58px;
}



.message-container {
    width: 95%;
    border: 1px solid black;
    height: 526px;
}

.col-3Custom {
    flex: 0 0 auto;
    width: 19%;
}

.chatter {
    position: absolute;
    bottom: 29px;
}